<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="UNI_SIZE_LIMITER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${univiewer.log.file}"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="${univiewer.log.max}MB"/>
		<param name="MaxBackupIndex" value="${univiewer.log.backups}"/>
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="| %d{yyyy-MM-dd HH:mm:ss} |%-5p| %t | %C | %m %n"/>
		</layout>	    
	</appender>
	<appender name="AUDIT" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${univiewer.audit.file}"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="5"/>
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="| %d{yyyy-MM-dd HH:mm:ss} | %m %n"/>
		</layout>	    
	</appender>		
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c] - [%m]%n"/>
		</layout>
	</appender>
  
  	<category name="com.orsyp.central.server" additivity="false">
		<level value="${univiewer.log.level}"/>		
		<appender-ref ref="UNI_SIZE_LIMITER"/> 
	</category>   
	<category name="com.orsyp" additivity="false">
		<level value="${univiewer.log.level}"/>		
		<appender-ref ref="UNI_SIZE_LIMITER"/> 
	</category>
	<category name="com.orsyp.alertmanager" additivity="false">
		<level value="INFO"/>		
		<appender-ref ref="UNI_SIZE_LIMITER"/> 
	</category>    	
	
	<category name="audit.trail" additivity="false">
		<level value="ALL"/>		
		<appender-ref ref="AUDIT"/> 
	</category>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />		
	</root>
  	
</log4j:configuration>
